$textColor: #4a4e52;
$textColorInverse: #fff;

$blue: #42a5f5;
$darkBlue: #4b7faf;
$lightGray: #efefef;
$darkGray: #7d7d7d;

$buttonColor: $blue;
$buttonColorInactive: $darkBlue;
$headerHeight: 60px;
$headerContentHorizontalPadding: 10px;

$gearButtonWidth: 20px;
$gearButtonHeight: 21px;
