.get-connected-screen {
  // todo: factor this out. It's going to be needed everywhere.
  position: relative;
  height: 100%;
  width: 100%;
    text-align: center;
  .image-container {
    height: 40%;
    margin: 5% 0;
    img {
      height: 100%;
    }
  }
  h1 {
    margin: 15px;

  }
  h4 {
    margin: 8px;
    line-height: 1.2
  }

  .connect-button {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
  }

  .go-to-overview {
    margin-top: 8px;
    color: #4a4e52;
    line-height: 1.8;
    &:hover {
      text-decoration: underline;
    }
  }
}
